<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Welcome, <%= current_user.username %>!</h1>
<p><a href="/books/new">Add a book to your list</a> // <a href="/logout">Log Out</a></p>

<h2>Your book wish list has <%= @books.count %> title(s):</h2>

<% @books.each do |book| %>
  <ul>
    <li><strong><%= book.title %></strong> by <%= book.author %></li>
  </ul>
<% end %>